@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}
